doctype html
html(lang="en")
  head
    - var pagetitle = "Intl. Search Result"
    - var author = "arieare"
    include ./includes/head.jade
  body
    //- navbar start
    .navbar-fixed
      nav
        .nav-wrapper
          span.brand-logo.center
            span.flight-route Jakarta–Seoul
            span.flight-date 15 Feb 2015
          ul.left
            li
              a.back-button(href="#back" style="font-size:2em;") &#x2190;               
    //- navbar end
    //- tab bar start
    #tab-content-container.col.s12
      #tab-nav-container
        ul.row.tab-nav-wrapper
          .active-indicator
          li.tab.col.s6.center-align
            a(href="#go-to-dpt-column" style="padding: 2em 1em;")
              span#bullet-number-1.bullet-number 1
              | &ensp;Departure

          li.tab.col.s6.center-align
            a(href="#go-to-rtn-column" style="padding: 2em 1em;")
              span#bullet-number-2.bullet-number 2
              | &ensp;Return
      #view-port-container
        #dpt-column
          form.dpt-column(action="")
            span#dpt-route.hide Jakarta–Seoul
            span#dpt-flight-date.hide 15 Feb 2015
            //- search result
            label.col.s12.search-item.needsclick
              .row(style="padding:0;margin:0;")
                span.left Lion
                a.flight-detail-trigger.right(href="#detail") Detail ▾
              hr(style="width:100%;margin:0.5em auto;border-bottom:1px dashed #e5e5e5;")
              input(type="radio" name="dpt" value="3596550")
              .row(style="padding:0;margin:0;")
                div.col.s6(style="padding-left:0")
                  span(style="color:#8f8f8f") CGK – ICN
                  br
                  strong 14:30 – 12:00
                  br
                  span(style="color:#8f8f8f;") direct • 1h 2min
                div.col.s6.right-align(style="padding-right:0")
                  span.currency(style="color:#b4b4b4; text-decoration:line-through;") 4000000
                  br
                  strong.currency(style="color:rgb(249,109,1);font-size:1.2em;") 3596550
                  br
                  //- span(style="color:#1ba0e2; font-size:0.8em;") Smart-combo
            .detail
              p isi detailnya
            //- search result
        #rtn-column
          form.rtn-column(action="")
            
            span#rtn-route.hide Seoul–Jakarta
            span#rtn-flight-date.hide 17 Feb 2015
            //- search result
            label.col.s12.search-item.needsclick
              input(type="radio" name="rtn" value="3596550")
              span &emsp; ICN – CGK
              strong.currency 3596550
        
    .row.price-update
      .col.s7
        span.col.s12
          a.modal-trigger(href="#flight-detail-modal" style="padding: 1em 0em; font-size:0.8em;")
            span(style="color:#434343;") Total for 
              span(style="font-weight:bolder;") 2 
              | pax • 
            span Summary
        span.col.s12(style="margin-top: -0.3em;margin-bottom: 0;font-size:1.3em;") Rp 
          strong#totalprice.currency.odometer 0
      .col.s5
        button#book.right(disabled="true") Book Now
 
  #flight-detail-modal.modal
    .modal-content
      span JAKARTA &#x21c4; SEOUL
      a.right(href="#!").modal-action.modal-close Close
      hr(style="padding-top:8px;")
      p(style="margin:0.4em 0;") 
        strong Departure
      p(style="margin:0.4em 0;") CGK – ICN Mon, 15 Feb 2016
      span 15:10 – 17:55 (1h 45m)
      hr(style="padding-top:8px;")
      p(style="margin:0.4em 0;")
        strong Return
      p(style="margin:0.4em 0;") ICN – CGK Wed, 17 Feb 2016
      span 15:10 – 17:55 (1h 45m)
      hr(style="padding-top:8px;")
      p(style="margin:0.4em 0;") 
        strong Total Price for 2 pax
      span Rp 14,801,600
    //- .modal-footer
    //-   a(href="#!").modal-action.modal-close Share
    //-   a.right(href="#!").modal-action.modal-close Book
 

    script(type="text/javascript")
      | $(".currency").autoNumeric('init',{
      |  aSep: '.',
      |  aDec: ',', 
      |  aSign: 'Rp '
      | });