doctype html
html(lang="en")
  head
    - var pagetitle = "Intl. Search Result"
    - var author = "arieare"
    include ./includes/head.jade
  body
    //- navbar start
    .navbar-fixed
      nav
        .nav-wrapper
          span.brand-logo.center
            span.flight-route Jakarta–Seoul
            span.flight-date 15 Feb 2015
          ul.left
            li
              a.back-button(href="#back" style="font-size:2em;") &#x2190;               
    //- navbar end
    //- tab bar start
    #tab-content-container.col.s12
      #tab-nav-container(style="z-index:100;")
        ul.row.tab-nav-wrapper
          .active-indicator
          li.tab.col.s6.center-align
            a(href="#go-to-dpt-column" style="padding: 2em 1em;")
              span#bullet-number-1.bullet-number 1
              | &ensp;Departure

          li.tab.col.s6.center-align
            a(href="#go-to-rtn-column" style="padding: 2em 1em;")
              span#bullet-number-2.bullet-number 2
              | &ensp;Return
      #view-port-container
        #dpt-column
          form#only-one.dpt-column(action="" data-accordion-group)
            - var dpt_route_city =  'Jakarta – Seoul'
            - var dpt_date =  'Sat, 20 Feb 2016'
            span#dpt-route.hide= dpt_route_city
            span#dpt-flight-date.hide= dpt_date
            //- search result
            //- item 1
            - var dpt_airlines = 'AirAsia'
            - var dpt_route =  'CGK – ICN'
            - var dpt_transit = '1 transit(s) • '
            - var dpt_price_before = '2226480'
            - var dpt_price =  '2226400'
            - var dpt_time =  '20:25 – 15:05(+1d)'
            - var dpt_duration =  '16h 40m'
            - var dpt_flight_code = 'AirAsia AK-387'
            - var dpt_psc = 'PSC'
            - var dpt_smart_combo = ''
            include ./includes/search-item-dpt.jade  
            //- item 2
            - var dpt_airlines = 'AirAsia'
            - var dpt_route =  'CGK – ICN'
            - var dpt_transit = '1 transit(s) • '
            - var dpt_price_before = '2306480'
            - var dpt_price =  '2306400'
            - var dpt_time =  '18:50 – 15:05(+1d)'
            - var dpt_duration =  '18h 15m'
            - var dpt_flight_code = 'AirAsia QZ-206'
            - var dpt_psc = 'PSC, Free baggage 25kg'
            - var dpt_smart_combo = ''
            include ./includes/search-item-dpt.jade 
            //- item 3
            - var dpt_airlines = 'AirAsia'
            - var dpt_route =  'CGK – ICN'
            - var dpt_transit = '1 transit(s) • '
            - var dpt_price_before = '2394480'
            - var dpt_price =  '2394400'
            - var dpt_time =  '15:10 – 15:05(+1d)'
            - var dpt_duration =  '21h 55m'
            - var dpt_flight_code = 'AirAsia Ak-385'
            - var dpt_psc = 'PSC'
            - var dpt_smart_combo = ''
            include ./includes/search-item-dpt.jade 
            //- item 4
            - var dpt_airlines = 'AirAsia'
            - var dpt_route =  'CGK – ICN'
            - var dpt_transit = '1 transit(s) • '
            - var dpt_price_before = '3265200'
            - var dpt_price =  '3265100'
            - var dpt_time =  '20:25 – 08:20(+1d)'
            - var dpt_duration =  '9h 55m'
            - var dpt_flight_code = 'AirAsia AK-387'
            - var dpt_psc = 'PSC, Free baggage 20kg'
            - var dpt_smart_combo = ''
            include ./includes/search-item-dpt.jade 
            //- item 5
            - var dpt_airlines = 'AirAsia'
            - var dpt_route =  'CGK – ICN'
            - var dpt_transit = '1 transit • '
            - var dpt_price_before = ''
            - var dpt_total_combo = 'round-trip price combo'
            - var dpt_price =  '6690200'
            - var dpt_time =  '06:25 – 08:20(+1d)'
            - var dpt_duration =  '23h 55m'
            - var dpt_flight_code = 'AirAsia QZ-202'
            - var dpt_psc = 'PSC'
            - var dpt_smart_combo = '✹ Smart-Combo⍰'
            include ./includes/search-item-dpt.jade 
            //- search result
        #rtn-column
          form#only-one.rtn-column(action="" data-accordion-group)
            - var rtn_route_city =  'Seoul – Jakarta'
            - var rtn_date =  'Sun, 21 Feb 2016'
            span#rtn-route.hide= rtn_route_city
            span#rtn-flight-date.hide= rtn_date
            //- search result 
            //- item 1
            - var rtn_airlines = 'Philippine Airlines'
            - var rtn_route =  'ICN – CGK'
            - var rtn_transit = '1 transit(s) • '
            - var rtn_price_before = '5327300'
            - var rtn_price =  '5326800'
            - var rtn_time =  '22:05 – 12:35(+1d)'
            - var rtn_duration =  '16h 30m'
            - var rtn_flight_code = 'Philippine Airlines PR-1139'
            - var rtn_psc = 'Free baggage 20kg, Meal, Late-night flight'
            - var rtn_smart_combo = ''
            include ./includes/search-item-rtn.jade
            //- item 2
            - var rtn_airlines = 'Thai'
            - var rtn_route =  'ICN – CGK'
            - var rtn_transit = '1 transit(s) • '
            - var rtn_price_before = ''
            - var rtn_price =  '13095800'
            - var rtn_time =  '21:25 – 11:55(+1d)'
            - var rtn_duration =  '16h 30m'
            - var rtn_flight_code = 'Thai TG-657'
            - var rtn_psc = 'Free baggage 30kg, Meal, Late-night flight'
            - var rtn_smart_combo = ''
            include ./includes/search-item-rtn.jade 
            //- search result
        
    .row.price-update(style="z-index:100;")
      .col.s7
        span.col.s12
          a.modal-trigger(href="#flight-detail-modal" style="padding: 1em 0em; font-size:0.8em;")
            span(style="color:#434343;") Total for 
              span(style="font-weight:bolder;") 2 
              | pax • 
            span Summary
        span.col.s12(style="margin-top: -0.3em;margin-bottom: 0;font-size:1.3em;") Rp 
          strong#totalprice.currency.odometer 0
      .col.s5
        button#book.right(disabled="true") Book Now
 
  #flight-detail-modal.modal
    .modal-content
      span JAKARTA &#x21c4; SEOUL
      a.right(href="#!").modal-action.modal-close Close
      hr(style="padding-top:8px;")
      p(style="margin:0.4em 0;") 
        strong Departure
      p(style="margin:0.4em 0;") CGK – ICN Mon, 15 Feb 2016
      span 15:10 – 17:55 (1h 45m)
      hr(style="padding-top:8px;")
      p(style="margin:0.4em 0;")
        strong Return
      p(style="margin:0.4em 0;") ICN – CGK Wed, 17 Feb 2016
      span 15:10 – 17:55 (1h 45m)
      hr(style="padding-top:8px;")
      p(style="margin:0.4em 0;") 
        strong Total Price for 2 pax
      span Rp  
      span#totalpricesummary 0
    //- .modal-footer
    //-   a(href="#!").modal-action.modal-close Share
    //-   a.right(href="#!").modal-action.modal-close Book
 

    script(type="text/javascript")
      | $(".currency").autoNumeric('init',{
      |  aSep: '.',
      |  aDec: ',', 
      |  aSign: 'Rp '
      | });

script.
  $(document).ready(function() {
    $('#only-one [data-accordion]').accordion();

    $('#multiple [data-accordion]').accordion({
      singleOpen: false
    });

    $('#single[data-accordion]').accordion({
      transitionEasing: 'cubic-bezier(0.455, 0.030, 0.515, 0.955)',
      transitionSpeed: 200
    });
  });