//- Meta
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="description", content="")
meta(name="author", content= author)
//- Title
title= pagetitle
//- Core CSS & Jquery
link(href="style/main.css", rel="stylesheet")
link(href="style/odometer-theme-default.css", rel="stylesheet")
link(href="style/style.css", rel="stylesheet")
script(src="js/jquery-2.2.0.min.js")

//- Scripts
script(src="js/autoNumeric-min.js")
script(src="js/script.js")
script(src="js/odometer.min.js")
script(src="js/materialize.min.js")
script(src="js/leanModal.js")  
//- script(src="js/velocity.min.js")
//- script(src="js/tabs.js")
script(src="js/fastclick.js")
script(src="js/headroom.js")
script(src="js/inobounce.min.js")
script(src="js/hammer-time.js")
script(src="js/jquery.hammer.js")


//-Initiating Scripts
script.
  $(document).ready(function(){
    $('a[href="#go-to-dpt-column"]').trigger('click');
  });
