#smart-combo-modal.modal
  .modal-content
    strong What is Smart-Combo?
    a.right(href="#!").modal-action.modal-close Understood
    hr(style="padding-top:8px;")
    p
      | The price on 
      strong Smart-Combo 
      | is already  
      strong total for departure + return.
    p You only need to pick the schedule for departure/return within this combo.
    //- p
      a(href="https://www.traveloka.com/en/promo/smartcombo") More Info