#flight-detail-modal.modal
  .modal-content
    span JAKARTA &#x21c4; SEOUL
    a.right(href="#!").modal-action.modal-close Close
    hr(style="padding-top:8px;")
    p(style="margin:0.4em 0;") 
      strong Departure
    p(style="margin:0.4em 0;") CGK – ICN Mon, 15 Feb 2016
    span 15:10 – 17:55 (1h 45m)
    hr(style="padding-top:8px;")
    p(style="margin:0.4em 0;")
      strong Return
    p(style="margin:0.4em 0;") ICN – CGK Wed, 17 Feb 2016
    span 15:10 – 17:55 (1h 45m)
    hr(style="padding-top:8px;")
    p(style="margin:0.4em 0;") 
      strong Total Price for 2 pax
    span Rp  
    span#totalpricesummary 0