label.col.s12.search-item(data-accordion)
  a.flight-detail-trigger.right(href="#" style="z-index:99;" data-control) Detail ▾
  .row(style="padding:0;margin:0;")
    span.left Lion
    //- button.flight-detail-trigger.right(style="z-index:99;" data-control) Detail ▾
    //- a.flight-detail-trigger.right(href="#" style="z-index:99;" data-control) Detail ▾
  hr(style="width:100%;margin:0.5em auto;border-bottom:1px dashed #e5e5e5;")
  input(type="radio" name="dpt" value="3596550")
  .row(style="padding:0;margin:0;")
    div.col.s6(style="padding-left:0")
      span(style="color:#8f8f8f") CGK – ICN
      br
      strong 14:30 – 12:00
      br
      span(style="color:#8f8f8f;") direct • 1h 2min
    div.col.s6.right-align(style="padding-right:0")
      span.currency(style="color:#b4b4b4; text-decoration:line-through;") 4000000
      br
      strong.currency(style="color:rgb(249,109,1);font-size:1.2em;") 3596550
      br
      //- span(style="color:#1ba0e2; font-size:0.8em;") Smart-combo
  .row.detail(data-content)
    hr(style="width:100%;margin:0.5em auto;border-bottom:1px dashed #e5e5e5;")
    h5(style="font-size:1.3em;") Jakarta – Seoul
    p Inclusive of airline Fee & Taxes
    hr(style="width:100%;margin:0.5em auto;border-bottom:1px dashed #e5e5e5;")
    h5(style="font-size:1.3em;") Lion JT-150
    p PSC Free baggage 20kg

