doctype html
html(lang="en")
  head
    - var pagetitle = "Pseudolocalization"
    - var author = "arieare"
    include ./includes/head.jade
  body
    .container
      .row(style="margin:1em;")
        span Button locale EN
        a.btn#originalString sign in
      .row(style="margin:1em;")
        span Button Extended
        a.btn#extendedString

      .row(style="margin:1em;")
        span Button locale TH
        a.btn#pseudolocString

      .row(style="margin:1em;")
        span Button locale TH
        a.btn ลงชื่อเข้าใช้

          