doctype html
html(lang="en")
  head
    - var pagetitle = ""
    - var author = "arieare"
    include ./includes/head.jade
  body
    p By purchasing this insurance, I agree to all conditions of the insurance application by ACE Group. Travel Insurance is underwritten by PT ACE Jaya Proteksi (“ACE”). PT ACE Jaya Proteksi is registered and supervised by Otoritas Jasa Keuangan (OJK).