doctype html
html(lang="en")
  head
    - var pagetitle = "Welcome"
    - var author = "arieare"
    link(href="style/main-screen-style.css", rel="stylesheet")
    include ./includes/head.jade
  body
    //- navbar start
    //- - var dpt_route_city =  'Jakarta – Seoul'
    //- - var dpt_date =  'Sat, 20 Feb 2016'
    //- - var rtn_route_city =  'Seoul – Jakarta'
    //- - var rtn_date =  'Sun, 21 Feb 2016'
    .navbar-fixed
      nav
        .nav-wrapper
          span.brand-logo.center
            strong.flight-route(style="margin:0;") Challenge              
    //- navbar end
    //- tab bar start
    .container.flight-form-container(style="margin-bottom:1em;margin-top:1em;")
      .row.s12.flight-spec-input(style="padding:16px !important;margin:0;")
        p(style="color:#434343;") Bayangkan anda mendapatkan sejumlah uang (bayangkan saja jumlahnya) untuk berlibur ke London, Inggris berangkat di hari Jumat, 4 Maret 2016 selama seminggu bersama adik/kakak anda (sudah termasuk uang untuk beli oleh-oleh, mengaturnya terserah anda).
        p(style="color:#434343;") Teman-teman anda mengetahui hal ini dan meminta anda membawakan banyak sekali souvenir (mungkin anda memerlukan bagasi extra).
        p(style="color:#434343;") Pilihlah penerbangan yang paling sesuai dengan preferensi anda.
    .container      
      .row.s12.center-align
        a#btn-search-fight(href="index.html" style="width:auto;margin-left:8px;margin-right:8px;margin-bottom:0;") Lanjut