doctype html
html(lang="en")
  head
    - var pagetitle = "Flight Online Rescheduling Tools"
    - var author = "arieare"
    include ./includes/head.jade
  body(style="background-color:#fff;")
    //- navbar start
    .navbar-fixed
      nav
        .nav-wrapper
          span.brand-logo.left(style="margin-left:1em;") TAP Agent Center
      //- navbar end
    .row
      .col.s2(style="background-color:#dadada;padding-bottom:100vh;")
      .col.s10
        .row
          h5 Flight Online Rescheduling Tools
        .row(style="margin-bottom:0;")
          .col.s1
            h6 Sort By:
          .col.s4
            select.browser-default(style="height:2rem;padding:1em;border:1px solid black;")
              option(value="Submission Time") Latest Submission Time (Default)
              option(value="Submission Time") Oldest Submission Time
              option(value="Old Booking ID.") Old Booking ID.
              option(value="Rescheduled ID.") Rescheduled ID.
              option(value="Time to Departure") Shorter Time to Departure
              option(value="Time to Departure") Longer Time to Departure
              option(value="Fulfillment ID.") Fulfillment ID. A → Z
              option(value="Status") Status A → Z
          .col.s7
            a.button.right(href="#!") Download CSV
          //- .col.s8.input-field
          //-   label(for="password") Cari
          //-     input(id="password" type="text" class="")
        table.striped.responsive-table
          thead
            tr
              th(data-field="Submission Time")
                //- a.dropdown-button(data-activates="dropdown1") Submission Time ▾
                | Submission Time
              th(data-field="Old Booking ID.") Old Booking ID.
              th(data-field="Rescheduled ID.") Rescheduled ID.
              th(data-field="Time to Departure")
                a.dropdown-button(data-activates="dropdown2") Time to Departure ▾
              th(data-field="Fullfilment ID.")
                a.dropdown-button(data-activates="dropdown3") Fullfilment ID. ▾
              th(data-field="Status")
                a.dropdown-button(data-activates="dropdown4") Status ▾
              th(data-field="Update") 
          tbody
            each val, index in ['ACTIVE', 'NON-RESCHEDULABLE', 'WAITING-FOR-PAYMENT', 'PAYMENT-VERIFIED', 'CLOSED', 'CANCELED', 'EXPIRED']
              tr
                td 17:00 (Sab, 12 Feb 2016)
                td
                  a(href="#link-to-old-booking-id" title="Open Booking ID in new tab") 3452342
                td
                  a(href="#link-to-rescheduled-booking-id" title="Open Rescheduled ID in new tab") 3452342
                td 24 Hours
                td ABACUS
                td
                  span.status(class="st-"+val)= val
                td 
                  a.button(href="tap_form.html" class="btn-"+val) Update ▸

          .col.s2 
            form
              ul#dropdown1.dropdown-content
                li
                  input.filled-in(type="checkbox" id="submit-time-0")
                  label(for="submit-time-0") SHOW ALL
                hr
                li Show Only:
                li
                  input.filled-in(type="checkbox" id="submit-time-1")
                  label(for="submit-time-1")  2 Week
                li
                 input.filled-in(type="checkbox" id="submit-time-2")
                 label(for="submit-time-2") < 1 Week
          .col.s2 
            form
              ul#dropdown2.dropdown-content
                li
                  input.filled-in(type="checkbox" id="time-to-depart-0")
                  label(for="time-to-depart-0") SHOW ALL
                hr
                li Show Only:
                li
                  input.filled-in(type="checkbox" id="time-to-depart-1")
                  label(for="time-to-depart-1") < 24 Hour
                li
                 input.filled-in(type="checkbox" id="time-to-depart-2")
                 label(for="time-to-depart-2") < 12 Hour
          .col.s2 
            form
              ul#dropdown3.dropdown-content
                li
                  input.filled-in(type="checkbox" id="fulfil-id-0")
                  label(for="fulfil-id-0") SHOW ALL
                hr
                li Show Only:
                li
                  input.filled-in(type="checkbox" id="fulfil-id-1")
                  label(for="fulfil-id-1") ABACUS
                li
                 input.filled-in(type="checkbox" id="fulfil-id-2")
                 label(for="fulfil-id-2") GALILEO
                li
                 input.filled-in(type="checkbox" id="fulfil-id-3")
                 label(for="fulfil-id-3") SJ_trinusa
                li
                 input.filled-in(type="checkbox" id="fulfil-id-4")
                 label(for="fulfil-id-4") XN_trinusa
          .col.s2 
            form
              ul#dropdown4.dropdown-content
                li
                  input.filled-in(type="checkbox" id="status-0")
                  label(for="status-0") SHOW ALL
                hr
                li Show Only:
                li
                  input.filled-in(type="checkbox" id="status-1")
                  label(for="status-1") ACTIVE
                li
                 input.filled-in(type="checkbox" id="status-2")
                 label(for="status-2") WAITING FOR PAYMENT
                li
                 input.filled-in(type="checkbox" id="status-3")
                 label(for="status-3") PAYMENT VERIFIED
                li
                 input.filled-in(type="checkbox" id="status-4")
                 label(for="status-4") CLOSED
                li
                 input.filled-in(type="checkbox" id="status-5")
                 label(for="status-5") CANCELLED
                li
                 input.filled-in(type="checkbox" id="status-6")
                 label(for="status-6") NON-RESCHEDULABLE
                li
                 input.filled-in(type="checkbox" id="status-7")
                 label(for="status-7") EXPIRED
        div(id="modal1" class="modal")
          div(class="modal-content")
            h4 Old booking ID
            h5 itinerary Detail
            ul
              li Flight number
              li Airline PNR
              li Fullfilment ID
              li Route (e.g. CGK DPS)
              li Departure Date & Time
              li Arrival Date & Time
              li Class (e.g. Business, Economy, Promo, etc.)
              li Sub Class (e.g. A, B, X, etc.)
            h5 Passenger details - passenger that being rescheduled
            ul
              li Title (e.g. Mr., Mrs., Miss)
              li Passenger name
              li Passenger type (e.g. Adult, child, infant)
            h5 Fare details
            ul
              li Provider PNR code






          div(class="modal-footer")
            p tes

