@import "base";
button {
	padding: 0;
	margin: 0;
}
.btn {
	border: none;
    border-spacing: 0;
	display: inline-block;
	margin: 0.5em;
	padding: 8px 24px;
	font-weight: $btn-font-weight;
	font-size: $base-font-size;
	text-transform: uppercase;
	color: $white;
	@include rounded();
	text-decoration: none;
	letter-spacing: 1px;
	line-height: 1.3;
	text-shadow: rgba($black,.1) 0 1px 0;
	&:focus {
		outline: none;
	}
	&.primary { //button primary (orange)
		background-color: $primary-color;
		@include button-box-shadow(0, 1px, 0, rgba(#fff, .2 ), 0, 1px, 0, darken($primary-color, 25));
		&:hover {
			background-color: lighten($primary-color, 8);
			cursor: pointer;
		}
		&:active {
			background-color: darken($primary-color, 8);
			@include button-box-shadow(0, 1px, 0, darken($primary-color, 25), 0, 1px, 0, rgba(#fff, .2 ))
		}
	}
	&.secondary { //button secondary (dark purple)
		background-color: $secondary-color;
		@include button-box-shadow(0, 1px, 0, rgba(#fff, .2 ), 0, 1px, 0, darken($secondary-color, 25));
		&:hover {
			background-color: lighten($secondary-color, 8);
			cursor: pointer;
		}
		&:active {
			background-color: darken($secondary-color, 8);
			@include button-box-shadow(0, 1px, 0, darken($secondary-color, 25), 0, 1px, 0, rgba(#fff, .2 ))
		}
	}
	&.neutral { //button neutral (white)
		background-color: $neutral-color;
		@include button-box-shadow(0, 1px, 0, rgba(#fff, .2 ), 0, 1px, 0, $grey);
		text-shadow: none;
		&.primary {
			color: $primary-color;
		}
		&.secondary {
			color: $secondary-color;
		}
		&:hover {
			background-color: lighten($neutral-color, 8);
			cursor: pointer;
		}
		&:active {
			background-color: darken($neutral-color, 8);
			@include button-box-shadow(0, 1px, 0, $grey, 0, 1px, 0, rgba(#fff, .2 ))
		}
	}
	&.disable { //button disable
		background-color: $bg-disable;
		color: $text-disable;
		cursor: not-allowed;
		pointer-events: none;
		@include button-box-shadow(0, 0, 0, rgba(#fff, 0 ), 0, 0, 0, rgba(#fff, 0 ));
		text-shadow: none;
	}
	&.icon-left {
		padding-left: 12px;
		span {
			padding-left: 32px;
			&.arrow {
				background: url(../img/icon_prev.svg) no-repeat 0 50%;
			}
		}
	}
	&.icon-right {
		padding-right: 12px;
		span {
			padding-right: 32px;
			&.arrow {
				background: url(../img/icon_next.svg) no-repeat 100% 50%;
			}
			&.caret-down {
				background: url(../img/icon_arrow_down.svg) no-repeat 100% 50%;	
			}
		}
	}
	&.full-width {
		display: block;
		text-align: center;
		line-height: $base-line-height;
		min-width: calc(100% - 1em);
	}
}

.btn-special {
	border: none;
    border-spacing: 0;
	display: inline-block;
	vertical-align:middle;
	&.video-ctrl {
		@include rounded-medium();
		background-color: $neutral-color;
		//@include button-box-shadow(0, 1px, 0, rgba(#fff, .2 ), 0, 1px, 0, $grey);
		font-weight: $btn-font-weight;
		font-size: $base-font-size;
		text-transform: uppercase;
		color: $primary-color;
		text-decoration: none;
		letter-spacing: 1px;
		line-height: 1.3;
		margin: 0.5em 0.5em 0.5em 0;
		text-shadow: rgba($black,.1) 0 1px 0;
		//border: solid 1px $primary-color;
		span {
			display: block;
			@include square-size(32px);
			background-size: 100%;
			&.play{
				background: url(../img/icon_play.svg) no-repeat;
			}
			&.stop{
  				background: url(../img/icon_stop.svg) no-repeat;
			}
			&.volume{
  				background: url(../img/icon_sound.svg) no-repeat;
			}
			&.mute{
  				background: url(../img/icon_muted.svg) no-repeat;
			}
			&.maximize{
  				background: url(../img/icon_expand.svg) no-repeat;
			}
			&.minimize{
  				background: url(../img/icon_contract.svg) no-repeat;
			}
			&.quality{
				@include square-size(inherit);
				padding: 8px 24px;
			}
		}
		&:hover {
			background-color: $primary-color;
			//@include button-box-shadow(0, 1px, 0, rgba(#fff, .2 ), 0, 1px, 0, darken($primary-color, 25));
			cursor: pointer;
			//border: solid 1px darken($primary-color, 25);
			span {
				background-size: 100%;
				&.play{
					background: url(../img/icon_play_hover.svg) no-repeat;
				}
				&.stop{
					background: url(../img/icon_stop_hover.svg) no-repeat;
				}
				&.volume{
					background: url(../img/icon_sound_hover.svg) no-repeat;
				}
				&.mute{
  					background: url(../img/icon_muted_hover.svg) no-repeat;
				}
				&.maximize{
	  				background: url(../img/icon_expand_hover.svg) no-repeat;
				}
				&.minimize{
	  				background: url(../img/icon_contract_hover.svg) no-repeat;
				}
				&.quality{
				color: $white;
				}
			}	
		}
		&:active {
			background-color: darken($primary-color, 8);
			@include button-box-shadow(0, 1px, 0, darken($primary-color, 25), 0, 1px, 0, rgba(#fff, .2 ))
		}
	}
	&.float-navigation {
		@include rounded-maximum();
		border: solid 1px $secondary-color;
		background: #FFF;
		@include button-box-shadow(0, 1px, 0, rgba(#fff, .2 ), 0, 1px, 0, rgba(#000, .2 ));
		span {
			display: block;
			@include square-size(28px);
			background-size: 100%;
			&.to-top{
				background: url(../img/icon_float_up.svg) no-repeat;
			}
			&.context-menu{
				background: url(../img/icon_float_context_menu.svg) no-repeat;
			}
			&.close{
				background: url(../img/icon_float_close.svg) no-repeat;
			}
		}
		&:hover {
			@include button-box-shadow(0, 1px, 0, rgba(#fff, .2 ), 0, 1px, 2px, rgba(#000, .4 ));
		}
		&:active {
			border: solid 1px $primary-color;
			@include button-box-shadow(0, 0px, 0, rgba(#fff, 0 ), 0, 1px, 0, rgba(#fff, .2 ));

		}
	}
}