<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav class="head-nav">

<a class="button-link" href="/">Home</a>
<a class="button-link" href="/blog">Blog</a>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:arie.a.re@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
