<!DOCTYPE html>
	<html>
		<head>
			<title>Arieare ❖ {{ page.title }}</title>
			<meta charset="utf-8">
			<meta name="description" content="My description">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/arieare.css">
			<link rel="stylesheet" type="text/css" href="/css/sitenav.css">
			<!--Favicons-->
			<link rel="apple-touch-icon" sizes="180x180" href="/src/favicon/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/src/favicon/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/src/favicon/favicon-16x16.png">
			<link rel="manifest" href="/src/favicon/site.webmanifest">
		</head>
		<body>
			<header>
			<nav class="desktop-menu">
				<a class="link-home" href="/"><img alt="Logo" src="/src/Logo.png" height="48"></a>
				<ul>
					<li><a class="head-nav first" href="/weblog">web-log</a></li>
					<li><a class="head-nav second" href="/follow">follow</a></li>
					<li><a class="head-nav third" href="/now">now</a></li>
					<li><a class="head-nav fourth" href="/direviewarie">#direviewarie</a></li>
				</ul>				
			</nav>
			</header>
			{{ content }}
			<footer>
				<nav class="mobile-menu" role="navigation">
					<div id="menuToggle">
						
					  <input type="checkbox"/>
					  
					  <span class="checkburger">🍔</span>
					  
					  <ul id="menu"> 
						<li><a class="head-nav first" href="/">home</a></li>
						<li><a class="head-nav first" href="/weblog">web-log</a></li>
						<li><a class="head-nav second" href="/follow">follow</a></li>
						<li><a class="head-nav third" href="/now">now</a></li>
						<li><a class="head-nav fourth" href="/direviewarie">#direviewarie</a></li>
					</ul>
					</div>
				  </nav>
				  <!-- <a href="/"><small>/arieare.co</small></a>
				  <a href="/"><small>/twitter</small></a> -->
			</footer>
			<script src="/src/script/mailgo.min.js"></script>
		</body>
	</html>
