<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta charset="utf-8">
			<meta name="description" content="My description">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/arieare.css">
			<!--Favicons-->
			<link rel="apple-touch-icon" sizes="180x180" href="/src/favicon/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/src/favicon/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/src/favicon/favicon-16x16.png">
			<link rel="manifest" href="/src/favicon/site.webmanifest">
		</head>
		<body>
			<header>
			<nav>
				<a href="/"><img alt="Logo" src="/src/Logo.png" height="48"></a>
				<ul>
					<li><a href="/blog">Web-Log</a></li>
					<li><a href="https://twitter.com/arieare" target="_blank">Who's Arie?</a></li>
				</ul>				
			</nav>
			</header>
			{{ content }}
			<footer>
			</footer>
		</body>
	</html>
