doctype html
html(lang="en" style="font-size:80%;")
  head
    - var pagetitle = "Form"
    - var author = "arieare"
    include ./includes/head.jade
  body(style="background-color:#fafafa;")
    //- navbar start
    .navbar-fixed
      nav
        .nav-wrapper
          span.brand-logo.left(style="margin-left:1em;") TAP Agent Center
      //- navbar end
    .row
      .col.s2(style="background-color:#dadada;padding-bottom:350%;")
      .col.s10
        .row2
          .col.s6
            h5 
              a.back-from-update(href="index.html") ← Back 
              | | Update for Reschedule ID: 3452342
          .col.s6
            a.button.right(href="index.html") Save                        

        .row(style="margin-bottom:0;")
          include ./includes/summary-reschedule.jade    
        include ./includes/form-express.jade
        include ./includes/form-galileo-abacus.jade
        include ./includes/form-gds.jade
        include ./includes/form-nokair.jade
        include ./includes/form-sriwijaya.jade
