.container.col.s12.form-card
  .row.col.s12
      h5 Form Express
  .row.col.s5(syle="border: dotted 1px #8f8f8f;")
    .row
      .col.s12
        h5 Old Booking ID: 
          a(href="#!") 3452351
    .row(style="margin-bottom:0;")
      .col.s6
        label
          strong Flight Number
          input(type="text" value="SJ-123" disabled) 
      .col.s6(style="margin-bottom:0;")
        label
          strong Route
          input(type="text" value="CGK – DPS" disabled)

    .row(style="margin-bottom:0;")
      .col.s6
        label
          strong Departure Date & Time
          input(type="text" value="10/03/2016 8:49" disabled) 
      .col.s6
        label
          strong Arrival Date & Time
          input(type="text" value="10/03/2016 8:49" disabled) 
    .row(style="margin-bottom:0;")
      .col.s12
        label
          strong Fullfilment ID
          input(type="text" value="ABACUS" disabled)
    .row(style="margin-bottom:0;")
      .col.s6
        label
          strong Provider PNR
          input(type="text" value="1234324" disabled) 
      .col.s6
        label
          strong Airlines PNR
          input(type="text" value="1234324" disabled)
    .row(style="margin-bottom:0;")
      .col.s12
        label
          strong Class
          select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;" disabled)
            option(value="Promo") Promo
            option(value="Normal") Normal
            option(value="Flexi") Flexi
  .row.col.s1
  .row.col.s5
    .row
      .col.s12
        h5 New Booking ID: 
          a(href="#!") 3452351
    .row(style="margin-bottom:0;")
      .col.s6
        label
          strong Flight Number
          input(type="text" value="SJ-123" disabled) 
      .col.s6(style="margin-bottom:0;")
        label
          strong Route
          input(type="text" value="CGK – DPS" disabled)

    .row(style="margin-bottom:0;")
      .col.s6
        label
          strong Departure Date & Time
          input(type="text" value="10/03/2016 8:49" disabled) 
      .col.s6(style="margin-bottom:0;")
        label
          strong Arrival Date & Time
          input(type="text" value="10/03/2016 8:49" disabled) 
    .row(style="margin-bottom:0;")
      .col.s12
        label
          strong Fullfilment ID
          input(type="text" value="ABACUS" disabled)
    .row(style="margin-bottom:0;")
      .col.s6
        label
          strong Provider PNR
          input(type="text" value="1234324") 
      .col.s6
        label
          strong Airlines PNR
          input(type="text" value="1234324")
    .row
      .col.s12
        label
          strong Class
          select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
            option(value="Promo") Promo
            option(value="Normal") Normal
            option(value="Flexi") Flexi
  .row
    hr
  .row.col.s5     
    .row
      .col.s12
        label
          h5 Pricing
    .row
      .col.s12
        strong Additional Base Fare – Adult
      .col.s3
        select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="Rp") Rp.
          option(value="THB") THB.
      .col.s9
        input(type="number" placeholder="Amount" required)
    .row(style="margin-bottom:0;")
      .col.s12
        strong Additional Base Fare – Child (If Any)
      .col.s3
        select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="Rp") Rp.
          option(value="THB") THB.
      .col.s9
        input(type="number" placeholder="Amount")
    .row(style="margin-bottom:0;")
      .col.s12
        strong Additional Base Fare – Infant (If Any)
      .col.s3
        select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="Rp") Rp.
          option(value="THB") THB.
      .col.s9
        input(type="number" placeholder="Amount")
    .row(style="margin-bottom:0;")
      .col.s12
        strong Biaya Lainnya
      .col.s3
        select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="Rp") Rp.
          option(value="THB") THB.
      .col.s9
        input(type="number" placeholder="Amount" required)
    .row(style="margin-bottom:0;")
      .col.s12
        strong Total Tax
      .col.s3
        select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="Rp") Rp.
          option(value="THB") THB.
      .col.s9
        input(type="number" placeholder="Amount" required)
    .row(style="margin-bottom:0;")
      .col.s12
        Strong Total
      .col.s3
        select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="Rp") Rp.
          option(value="THB") THB.
      .col.s9
        input(type="number" placeholder="Amount" required)
    .row
      .col.s12
        form(action="#")
          label
            strong Payment Limit
            select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
              option(value="15") 15 Minutes
              option(value="20") 20 Minutes
              option(value="25") 25 Minutes
              option(value="30") 30 Minutes
  .row.col.s1
  .row.col.s5
    .row
      .col.s12
        label
          h5 Passenger Details
    .row(style="margin-bottom:0;")
      .col.s2
        label
          strong Title 
          input(type="text" value="Mr" disabled) 
      .col.s6
        label
          strong Passenger name
          input(type="text" value="Budi Setiawan" disabled) 
      .col.s4
        label
          strong Passenger type
          input(type="text" value="adult" disabled)
    .row.col.s12
      a.button.right(href="index.html" style="display:inline-block;margin: 0.82rem 0 0.656rem 0;") Save
  
  
  
