.container.col.s12.form-card
  .row.col.s12
    h5 Old Booking ID: 
      a(href="#!") 3452351
      | →
      |  Reschedule ID: 
      a(href="#!") 3452351
      |  (Sriwijaya)

  .row.col.s5     
    .row(style="margin-bottom:0;")
      .col.s12
        strong Total
      .col.s3
         select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="Rp") Rp.
          option(value="THB") THB.
      .col.s9
        input(type="number" placeholder="Amount" required)
    .row(style="margin-bottom:0;")
      .col.s12
        strong NTA
      .col.s3
        select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="Rp") Rp.
          option(value="THB") THB.
      .col.s9
        input(type="number" placeholder="Amount" required)
    .row(style="margin-bottom:0;")
      .col.s12
        strong CF
      .col.s3
         select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="Rp") Rp.
          option(value="THB") THB.
      .col.s9
        input(type="number" placeholder="Amount" required)
    .row(style="margin-bottom:0;")
      .col.s12
        strong ADM
      .col.s3
         select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="Rp") Rp.
          option(value="THB") THB. 
      .col.s9
        input(type="number" placeholder="Amount" required)
    .row(style="margin-bottom:0;")
      .col.s12
        strong Balance Due
      .col.s3
        select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="Rp") Rp.
          option(value="THB") THB. 
      .col.s9
        input(type="number" placeholder="Amount" required)
    .row
      .col.s12
        form(action="#")
          label
            strong Payment Limit
            select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
              option(value="15") 15 Minutes
              option(value="20") 20 Minutes
              option(value="25") 25 Minutes
              option(value="30") 30 Minutes
  .row.col.s1            
  .row.col.s5
    .row.col.s12(style="margin-bottom:0;")
      //- h5 Provider PNR
      label 
        strong Provider PNR
        input(type="text" value="1234324") 
    .row.col.s12(style="margin-bottom:0;")
      //- h5 Airlines PNR
      label 
        strong Airlines PNR
        input(type="text" value="1234324")
    .row.col.s12
      label 
        strong Subclass
        select.browser-default(style="height:2rem;padding:1em;border:1px solid black;margin-top:0.8em;")
          option(value="A") A
          option(value="B") B
          option(value="C") C
          option(value="D") D
          option(value="E") E
          option(value="F") F
          option(value="G") G
          option(value="H") H
          option(value="I") I
          option(value="J") J
          option(value="K") K
          option(value="L") L
          option(value="M") M
          option(value="N") N
          option(value="O") O
          option(value="P") P
          option(value="Q") Q
          option(value="R") R
          option(value="S") S
          option(value="T") T
          option(value="U") U
          option(value="V") V
          option(value="W") W
          option(value="X") X
          option(value="Y") Y
          option(value="Z") Z
    .row.col.s12
      a.button(href="index.html" style="display:inline-block;margin: 0.82rem 0 0.656rem 0;") Done